In [13]:
#import the libraries
import pandas as pd
import scipy 
import numpy as np
from scipy import stats
import math
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 4E28-3FB0

 Directory of C:\Users\HP\Desktop\Assignments\assignment no.3(Hypothesis Test)

12/26/2022  12:29 PM    <DIR>          .
12/26/2022  12:29 PM    <DIR>          ..
12/26/2022  12:29 PM    <DIR>          .ipynb_checkpoints
12/26/2022  12:28 PM                72 Assignment no3_(BUYER_RATIO)Hypothesis Test.ipynb
12/26/2022  12:27 PM             9,967 Assignment no3_(CUTLET)Hypothesis Test.ipynb
12/26/2022  12:27 PM            11,208 Assignment no3_(LABTAT)Hypothesis Test.ipynb
12/26/2022  11:34 AM                87 BuyerRatio.csv
12/26/2022  11:34 AM            13,423 Costomer+OrderForm.csv
12/26/2022  11:34 AM               525 Cutlets.csv
12/26/2022  11:34 AM            61,688 Hypothesis_Testing_Assignment.pptx
12/26/2022  11:34 AM             3,487 LabTAT.csv
               8 File(s)        100,457 bytes
               3 Dir(s)  139,995,238,400 bytes free

In [3]:
#reading the dataset
df=pd.read_csv("BuyerRatio.csv")

In [4]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
df=df.drop(['Observed Values'], axis=1)

In [6]:
df

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [7]:
males = df.iloc[0]
females = df.iloc[1]

In [8]:
males

East      50
West     142
North    131
South     70
Name: 0, dtype: int64

In [9]:
females

East      435
West     1523
North    1356
South     750
Name: 1, dtype: int64

In [10]:
males = np.array(males)
females = np.array(females)

In [11]:
observed_values = np.array([males,females])
observed_values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

# Applying Test

In [14]:
values = chi2_contingency(observed_values)
values

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [16]:
p_value=chi2_contingency(observed_values)[1]
p_value

0.6603094907091882

In [18]:
if p_value<0.05:
    print("H0 is rejected and there is no Male and female buyers are similar across in region")
else:
    print("H0 is accepted and Male and female buyers are similar across in region")

H0 is accepted and Male and female buyers are similar across in region