In [14]:
#import the libraries
import pandas as pd
import scipy 
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 4E28-3FB0

 Directory of C:\Users\HP\Desktop\Assignments\assignment no.3(Hypothesis Test)

12/26/2022  12:50 PM    <DIR>          .
12/26/2022  12:50 PM    <DIR>          ..
12/26/2022  12:50 PM    <DIR>          .ipynb_checkpoints
12/26/2022  12:48 PM             9,472 Assignment no3_(BUYER_RATIO)Hypothesis Test.ipynb
12/26/2022  12:49 PM                72 Assignment no3_(Customer_order_form)Hypothesis Test.ipynb
12/26/2022  12:27 PM             9,967 Assignment no3_(CUTLET)Hypothesis Test.ipynb
12/26/2022  12:27 PM            11,208 Assignment no3_(LABTAT)Hypothesis Test.ipynb
12/26/2022  11:34 AM                87 BuyerRatio.csv
12/26/2022  11:34 AM            13,423 Costomer+OrderForm.csv
12/26/2022  11:34 AM               525 Cutlets.csv
12/26/2022  11:34 AM            61,688 Hypothesis_Testing_Assignment.pptx
12/26/2022  11:34 AM             3,487 LabTAT.csv
               9 File(s)        109,929 bytes
               3 Dir(s)  139,993,628,672 bytes free

In [3]:
df=pd.read_csv("Costomer+OrderForm.csv")

In [4]:
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

# Performing EDA

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [22]:
df.isna().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [23]:
df.duplicated().sum()

290

In [24]:
print(df['Phillippines'].value_counts())
print(df['Indonesia'].value_counts())
print(df['Malta'].value_counts())
print(df['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [25]:
# So now we have to make a contingency table
observed_values = np.array([[271,267,269,280],[29,33,31,20]])
observed_values

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

# Applying Test

In [20]:
# H0=Null hypothesis is that defective percentage does not varies from  center to center.
# H1=Alternate hypothesis is that defective percentage varies from center to center.

In [26]:
value = chi2_contingency(observed_values)
value

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [27]:
p_value=chi2_contingency(observed_values)[1]
p_value

0.2771020991233135

In [28]:
if p_value<0.05:
    print("H0 is rejected")
else:
    print("H0 is accepted")

H0 is accepted