In [2]:
#import the libraries
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [3]:
scipy.__version__

'1.7.3'

In [4]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 4E28-3FB0

 Directory of C:\Users\HP\Desktop\Assignments\assignment no.3(Hypothesis Test)

12/26/2022  11:50 AM    <DIR>          .
12/26/2022  11:50 AM    <DIR>          ..
12/26/2022  11:39 AM    <DIR>          .ipynb_checkpoints
12/26/2022  11:50 AM             1,244 Assignment no3_Hypothesis Test.ipynb
12/26/2022  11:34 AM                87 BuyerRatio.csv
12/26/2022  11:34 AM            13,423 Costomer+OrderForm.csv
12/26/2022  11:34 AM               525 Cutlets.csv
12/26/2022  11:34 AM            61,688 Hypothesis_Testing_Assignment.pptx
12/26/2022  11:34 AM             3,487 LabTAT.csv
               6 File(s)         80,454 bytes
               3 Dir(s)  139,898,933,248 bytes free

In [5]:
#reading the dataset
df=pd.read_csv("Cutlets.csv")

In [7]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

# Performing EDA

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [8]:
df.isna().sum()

Unit A    0
Unit B    0
dtype: int64

In [15]:
df.count()

Unit A    35
Unit B    35
dtype: int64

In [18]:
df.duplicated().sum()

0

In [19]:
# There is no null values so we can apply hypothesis testing
# Now here, our null hypothesis is "there is no difference in the diameter of both the samples"
# And alternate hypothesis is "there is some difference between the diameter of both the samples"

# Applying Test

# 
refer
X=Unit A,
refer
Y=Unit B

H0 (null hypothesis)-> X==Y

H1(alternalte hypothesis) -> X!=Y

In [21]:
df.columns

Index(['Unit A', 'Unit B'], dtype='object')

In [22]:
X=df["Unit A"]
Y=df["Unit B"]

In [24]:
X.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [25]:
Y.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [39]:
stats.ttest_ind(X,Y,alternative="two-sided")

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [34]:
#here our p_value is 0.4722394724599501 approx equal to 0.5

In [42]:
p_value=0.5

In [43]:
# Hence
if p_value > 0.05 :
    print ('We will accept null hypothesis and rejects alternate hypothesis')
else:
    print ('We will accept alternate hypothesis')

We will accept null hypothesis and rejects alternate hypothesis