In [1]:
#import the libraries
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 4E28-3FB0

 Directory of C:\Users\HP\Desktop\Assignments\assignment no.3(Hypothesis Test)

12/26/2022  12:17 PM    <DIR>          .
12/26/2022  12:17 PM    <DIR>          ..
12/26/2022  12:17 PM    <DIR>          .ipynb_checkpoints
12/26/2022  12:14 PM             9,848 Assignment no3_(CUTLET)Hypothesis Test.ipynb
12/26/2022  12:16 PM                72 Assignment no3_(LABTAT)Hypothesis Test.ipynb
12/26/2022  11:34 AM                87 BuyerRatio.csv
12/26/2022  11:34 AM            13,423 Costomer+OrderForm.csv
12/26/2022  11:34 AM               525 Cutlets.csv
12/26/2022  11:34 AM            61,688 Hypothesis_Testing_Assignment.pptx
12/26/2022  11:34 AM             3,487 LabTAT.csv
               7 File(s)         89,130 bytes
               3 Dir(s)  139,895,996,416 bytes free

In [3]:
df=pd.read_csv("LabTAT.csv")

In [4]:
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

# Performing EDA

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [5]:
df.isna().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

In [6]:
df.count()

Laboratory 1    120
Laboratory 2    120
Laboratory 3    120
Laboratory 4    120
dtype: int64

In [8]:
df.duplicated().sum()

0

# Applying Test

In [ ]:
# There is no null values so we can apply hypothesis testing
# Null hypothesis is that there is no difference in the average Turn Around Time (TAT) of reports of the laboratories.
# Alternate hypothesis is that there is some difference in the average Turn Around Time (TAT) of reports of the laboratories.

In [9]:
# Applying anova test on all the columns.
val=stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])
val

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [10]:
p_value = val[1]
p_value

2.1156708949992414e-57

In [11]:
# Significance value
alpha = 0.05

In [12]:
if p_value<=alpha:
    print('Reject null hypothesis and accept alternate hypothesis')
else:
    print('Accept null hypothesis and reject alternate hypothesis ')

Reject null hypothesis and accept alternate hypothesis

In [13]:
#YES there is difference in average TAT among the different laboratories